@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	color: white;
}
body {
	font-family: 'Comfortaa', sans-serif;
	background-color: #1e2030;
	color: white;
}
